%h2
  Who We Are
%p
  LevelBar is a Bay Area non-profit dedicated to increasing opportunity in graduate school education by removing the financial barriers associated with graduate-level admission test preparation. We currently provide scholarships to 
  =link_to "motivated students", pages_apply_path 
  in the Bay Area who are studying to take the 
  =link_to "LSAT;", pages_lsat_path 
  in the future we aim to fund MCAT, GMAT and GRE students as well. 

%p
  Our support of our students extends beyond just a grant; we are committed to helping our students all the way through the admissions process, and to setting them up for success in their school and ultimately in their field.  We provide a series of workshops, writing classes, and ongoing mentorship and support to our grantees.

%p
  =link_to "See how our year-long program works!", pages_services_path
  
  
%h2
  Why We're Here
%p
  Performance on the "gatekeeper" graduate-level aptitude tests 
  =link_to "mediates to a substantial degree", pages_lsat_path
  a student's acceptability as a candidate for graduate study, and competitive preparation for these tests requires substantial resources.  Test-specific coaching alone (in the form of classes or tutoring) can cost anywhere from several hundred to several thousand dollars.  But even more expensive are the hours required: a critical component of a successful student's pursuit of a higher score is a considerable investment of time.  It is incredibly difficult to adequately prepare for the LSAT, MCAT, GMAT or the GRE while working a full-time job (or more than one!), and students with the resources to take time off to study are at a significant advantage.

%p
  We're here because we believe that all students should have a fair chance to prove their abilities on these decisive admissions exams regardless of their economic circumstances.  In a more perfect world graduate school admission criteria would be impervious to economic bias, but for the moment test scores are our meritocratic yardstick.  To that end our scholarships cover both coaching and living expenses in the weeks leading up to the test date.   

%p
  Graduate credentials are (perhaps unfortunately) not equivalent across institutions.  Where a student matriculates will matter to her or his career.  Our scholarships are small sums compared with the cost of a graduate degree, but this small sum, strategically placed in our students' lives, carries the potential to have a disproportionately large impact on their futures.