%h2
  Applications are now available!
  
%div
  If you are a first generation college graduate seeking a JD, you are just our type.  Applications for the 2013-14 LevelBar program are due no later than midnight, July 16th 2013, and there is no fee to apply.  Programming will begin in September 2013.  In addition to the application form, please make sure you include the following when contacting us:

%ol
  %li
    A personal statement: In your own words, what makes you a good candidate for the LevelBar scholarship program?
  %li
    Two letters of recommendation, at least one from an academic setting.
  %li
    Your undergraduate transcript.
  %li
    Proof of financial need: a FAFSA SAR or a current tax return.

%div
  All materials, including the application form, should be submitted to

  %strong
    %address
      LevelBar Scholarship Application Center 
      %br
      c/o Leah Johnston 
      %br
      P.O. Box # 23094 
      %br
      Oakland, CA 94623 
      %br

  OR online at 
  %strong info@levelbar.org
.container
  .span1
    =image_tag("pdf.png")
  .span5
    .download_name.muted
      levelbarapplicationform.pdf
    %a{href: "../downloads/levelbarapplicationform.pdf"}
      Download File
%div
  Please contact 
  %strong info@levelbar.org 
  with questions, or if you have trouble downloading the form.