%h2 Help support LevelBar.
%p
  In an ever-more competitive job market, graduate-level credentials have become the new mean.  And credentials from top-tier institutions change the course of a career.  

%p
  LevelBar's mission is to provide deserving students with the funds they need to prepare for crucial admissions exams.  Our overhead is very low thanks to the dedicated efforts of volunteers, and virtually all of the money we take in we are able to spend directly on our scholars.  It just takes a minute to donate today.  

%p
  We use PayPal to streamline to donation process, reduce our business costs, and protect your information.  The link below will take you off of our site briefly.  Thank you!