%h2
  Leveling the bar: who gets to go to law school?
%p
  Thinking about a career in law?  Wondering where and how to start?  Are you worried about the cost of law school?  How about the cost of applying?

%p
  Admittance into a competitive law school requires an impressive résumé, including stellar test scores.  LevelBar helps you achieve those high scores on the LSAT, and also helps to prepare you for law school.  Our year-long program of classes, workshops, and individual tutoring culminates in a grant that gives you the time and the resources to study competitively for crucial admissions exams.

%p
  If you are a San Francisco Bay Area first-generation college student interested in a law degree you've come to the right place. Apply at LevelBar today.
  
%hr

%p
  %strong apt 
  %em /apt / a. LME [L aptus pa. pple of apere fasten, attach. Cf. Fr. Apte.] 
  %strong 1 
  Suited, fitted, adapted, prepared, ready.

%p
  %strong aptitude 
  %em /’aptItjuːd / n. LME [(O)Fr. F. late L aptitudo (Boethius), f. as APT: see –TUDE. Cf. ATTITUDE.] 
  %strong 3 
  Natural ability; a talent (for); capacity to acquire a particular skill.