%h2 Board and Advisors
%h3 Board of Trustees
%p
  Leah Johnston serves as Director of LevelBar and is currently a member of the board.

%p
  =link_to "David Donofrio,", "http://www.linkedin.com/pub/david-donofrio/5/5b6/ab7/"
  Senior Hardware Performance Analyst at Apple (Cupertino, CA), serves as a member of the board.

%p
  =link_to "Thomas Gregg", "http://www.linkedin.com/pub/thomas-gregg/29/316/199"
  of Kirkland & Ellis LLP (San Francisco, CA) is a member of the board.

%p
  Layla Nova Forrest-White, doctoral candidate at UC Berkeley, CA (Berkeley, CA) is a member of the board and our mentorship advisor.

%h3 Advisors
%p
  =link_to "Matt Flannery", "http://www.kiva.org/about/team#management"
  is the founder and CEO of pioneering micro-loan website 
  =link_to "Kiva.", "http://www.kiva.org/"

%p
  =link_to "Kristin Theis-Alvarez", "http://fgcsdreams.org/post/26362679731/kristin-theis-alvarez-born-raised-in-oakland"
  is Associate Director of Admissions for Outreach and Recruitment at Berkeley Law School.

%p
  =link_to "Michael Trevino,", "http://www.linkedin.com/pub/michael-trevino/8/4b1/226"
  formerly of UC Hastings, is currently the Director of Undergraduate Admissions at the University of California.

%p
  =link_to "Mary Lu Bilek,", "http://www.umassd.edu/law/faculty/marylubilek/"
  founder of the highly successful 
  =link_to "Pipeline to Justice", "http://www.law.cuny.edu/academics/social-justice/pipeline/pipeline.pdf"
  program at the CUNY School of Law, is currently Dean at UMass School of Law.