%h2 The LSAT: The Politics and Economics of Getting Into Law School

%h3 LSAT Basics
%p 
  The Law School Admission Test is a prerequisite for consideration for admission into any American Bar Association accredited law school.  Applicants’ LSAT scores, along with their undergraduate grade point averages (UGPA), are the primary arbiters of candidate acceptability to law schools: admissions offices weigh these two numbers very heavily in their decisions.

%p
  The LSAT, exclusively administered by the nonprofit 
  =link_to "Law School Admission Council,", "http://www.lsac.org/"
  measures analytical abilities and reading comprehension in three ways: structured logical “games;” logical reasoning (questions distilling information from brief arguments); and reading comprehension.  The test in its entirety consists of six 35-minute sections.  Scores are scaled between 120 and 180, with the weight clustered towards the median score, usually about 151.

%h3 Measuring Up: What's the LSAT Good For?
%p
  The usefulness of standardized tests is often in debate: how good is this test really?  How well does it measure the skills it claims to evaluate, and does it accomplish this appraisal consistently?  Does the same person get the same score every time?  Do scores on this test correlate well with future performance?

%p
  These questions are not simple ones.  How much can preparation change an individual’s score?  What does “future performance” mean?  Is future performance limited to grades in graduate school, or should it include success in the field?
  
%p
  As far as the wide body of research goes, there is some consensus with regard to the LSAT: scores correlate well with first-year law school grades, especially when considered in conjunction with UGPA.  This is not true of all graduate-level tests.  As the LSAC dryly puts it: 
  =link_to "“the LSAT compares very favorably with admission tests used in other graduate and professional fields of study.”", "http://www.lsac.org/JD/pdfs/LSAT-Score-Predictors-of-Performance.pdf"
  The “predictive validity” of the LSAT is therefore said to be high, and evaluations of the correlation between scores and 1L grades have been produced both by the 
  =link_to "LSAC", "http://www.lsac.org/LsacResources/Research/TR/tech-reports.asp"
  and 
  =link_to "independently,", "http://onlinelibrary.wiley.com/doi/10.1111/j.1745-3984.1984.tb01032.x/abstract"
  =link_to "repeatedly.", "http://www.eric.ed.gov/ERICWebPortal/search/detailmini.jsp?_nfpb=true&_&ERICExtSearch_SearchValue_0=ED468951&ERICExtSearch_SearchType_0=no&accno=ED468951"

%p
  Consensus on LSAT usefulness, however, does not stretch far beyond the predictability of first-year grades.  The internal consistency of the test is in debate: will the same test-taker get the same score if he or she takes the test again?  The LSAC reports a reliability coefficient of between 0.90 and 0.95 (on a scale from 0 to 1; this is high), but admits that many factors can affect a student’s score, including physical or mental health, family or work obligations, and “motivation.”  There is certainly 
  =link_to "evidence", "http://www.lsac.org/LsacResources/Research/TR/TR-08-01.asp"
  that repeat test-takers tend to produce similar scores.  This evidence, however, does not take into account different approaches to taking the test.  There is strong evidence that better preparation produces better test scores: this is true of all standardized tests, and is the foundation of the business plans of for-profit test preparation companies.  In fact, most test prep companies explicitly advertise the expected score increases provided by their instruction, and several, such as Kaplan and the Princeton Review, have money-back higher-score guarantees.

%p
  Moreover, there are many different ways to evaluate law school candidates, and some compelling arguments that perhaps the skills assessed by the LSAT do not really correlate well with the skills required by lawyers, but merely with those required by law school students.  This explains the oft-touted predictive validity of the LSAT, but creates questions about the usefulness of the test for the field of law.  For example, the test purports to measure logical reasoning and reading comprehension, but a crucial factor is that it is measuring performance at speed, in carefully-timed 35-minute sections.  Yes, reading and grasping situations quickly is surely a valuable lawyerly skill, but the difference of a few minutes’ reading time disproportionately affects a LSAT taker. Since first-year law school exams are also time-pressured, ability to do well on a timed LSAT is a good predictor of first-year law school grades but not a great predictor of future performance as a lawyer.  Moreover, 
  =link_to "analytical skills in an untimed setting are more reliably predicted by UGPA.", "http://papers.ssrn.com/sol3/papers.cfm?abstract_id=465381"

%p
  A final huge issue renders the value placed on LSAT scores problematic.  Different racial, regional, gender and ethnic groups tend to perform differently on the test, to the point that systematic trends have been identified and tracked.  The LSAT is clearly not a completely objective tool for measuring analytical skills: white males from the New England region are not inherently better at logic games.  There are many reasons for differences in performance on standardized tests, and the issues involved in evaluating potential bias in a test are complex.  But one of the most important factors influencing LSAT score is preparation.  Affluent students have better access to the tools and time required to elevate their scores.

%h2How'd We Get Here? The Extraordinary Influence of the LSAT
%p
  Despite the work questioning the limits of the usefulness of the LSAT, the test remains incredibly important to admissions offices.  The ability to project 1L grades from LSAT scores regularly, if not completely reliably, is obviously of value.  The question is, why is this one number 
  %em so 
  important, why is it the centerpiece of many students’ applications, and why does a score 
  =link_to "below a certain cutoff", "http://www.ilrg.com/rankings/law/index.php/1/desc/LSATLow"
  automatically disqualify applicants from particular schools?  This is an especially salient question in light of the fact that the LSAT scores from less affluent or minority students have historically been lower than those of their affluent and non-minority counterparts.

%p
  Of course, an LSAT score is required of all applicants to ABA-accredited schools.  This accounts for the universality of the test.  But it does not explain the incredible gravity given to the number of an applicant, 
  =link_to "why a 170 score so completely trumps a 168.", "http://www.lawschoolpredictor.com/"  
  The LSAC itself warns that scores are an approximate measure of ability, and reports “score bands” in addition to the hard score.  (Score bands suggest where the student will score 68% of the time according to the LSAC’s statistical measures, and an average band is 2.6 points.)

%p
  Short answer, the reason the LSAT score is so important to admissions offices?  
  %em The U.S. News and World Report, 
  among other school ranking systems.

%p
  Though it is not the only list (compare 
  =link_to "Brian Leiter’s", "http://www.leiterrankings.com/" 
  and 
  =link_to "Vault.com’s,", "http://www.vault.com/wps/portal/usa/education/law-ranking"
  for example), 
  %em U.S. News and World Report 
  law school rankings have the most dramatic effect on law school admissions offices due to their popularity and ubiquity.  
  %em U.S. News, 
  using a strict 
  =link_to "methodology", "http://www.usnews.com/education/articles/2010/04/15/the-law-school-rankings-methodology" 
  with 12 different weighted categories, places all 188 ABA-accredited schools on one list.  Many have critiqued the methodology, citing the seemingly arbitrary weight of the categories as well as the 
  =link_to "potential for schools to game the rankings.", "http://www.leiterrankings.com/usnews/guide.shtml"
  (Perhaps the soundest critique is that the rankings systems attempt to compare apples to oranges, but for now rankings appear to be well-entrenched; 
  =link_to "Malcolm Gladwell", "http://www.newyorker.com/reporting/2011/02/14/110214fa_fact_gladwell" 
  has been tilting at the rankings windmill for 
  =link_to "years", "http://www.newyorker.com/archive/2005/10/10/051010crat_atlarge"
  ). 

%p
  The relative weight of the categories is indeed of concern.  The median LSAT score of a law school’s admitted class accounts for 12.5% of the school’s ranking, while the school’s bar passage rate accounts for a mere 2%.  Though one can certainly equivocate about the relative value of the LSAT and the bar exam as academic diagnostics, ostensibly the quality of the students coming into the school is more important to 
  %em U.S. News 
  rank than the quality of the students coming out of the school.

%p
  The extraordinary weight placed on an admitted class’s median LSAT score in the 
  %em U.S. News 
  rankings has in turn put extraordinary pressure on law school admissions offices.  A 
  =link_to "report", "http://lawweb.usc.edu/why/students/orgs/rlsj/assets/docs/issue_18/Rankings_and_Diversity.pdf" 
  by Wendy Espeland and Michael Sauder published in the 
  %em Review of Law and Social Justice
  in 2009 details the impact of the rankings systems and highlights the issues faced by law schools that attempt to prioritize values outside of the 
  %em U.S. News’ 
  12 categories.  Diversity, defined broadly, has suffered on account of the rankings.  Espeland and Sauder detail how homogenization can be seen both in the metrics of law school student bodies but also in the character of the law schools themselves.  (See the report itself for a thoughtful exploration of the “diversities of diversity.”)  Conformance to the 12 categories is producing 
  =link_to "less diverse student bodies,", "http://blogs.law.columbia.edu/salt/"
  less diverse law school environments, and less diverse law firms and lawyers in the long run.

%h3 What Happens Now?
%p
  =link_to "Recently,", "http://www.law.com/jsp/nlj/PubArticleNLJ.jsp?id=1202479662328&Who_needs_the_LSAT_anyway=&src=EMC-Email&et=editorial&bu=National%20Law%20Journal&pt=NLJ.com-%20Daily%20Headlines&cn=20110201NLJ&kw=Who%20needs%20the%20LSAT%20anyway%3F"
  the ABA took up the issue of dropping the LSAT requirement in law school admissions, provoking considerable discussion.  Many are of the opinion that though the test may be flawed, its predictive validity is useful and besides, it’s the only test we have.  This may not be entirely true: work is being done to evaluate other ways of assessing potential law school students with an eye to what makes a good lawyer, rather than just a good student.  A study spearheaded by Marjorie Shultz, a former Berkeley law professor, attempted to systematically address the issue, identifying several traits linked to successful lawyers—such as creativity, negotiation, and stress management—and suggested several ways to test for these traits.  The researchers released their findings in 
  =link_to "2008", "http://www.law.berkeley.edu/files/LSACREPORTfinal-12.pdf"
  and advocated for a wider investigation of their proposed new diagnostics; right now 
  =link_to "the LSAC is in the process of recruiting other schools", "http://www.saltlaw.org/contents/view/090110_"
  to participate in a broader study.

%p
  But despite the potential for a new admissions test sometime in the future, it is true that the LSAT is the current yardstick.  Even if the ABA drops the LSAT requirement, it is unlikely that most law schools will stop using it (recall the pressure of the rankings). 

%p
  The LSAT is here to stay for the moment, and it is an imperfect tool.  It favors students with time, money, and training.  Test prep companies often report score changes in the double digits for graduates of their classes: imagine how much that means when admissions offices are drawing lines between a 165 and a 164 to maintain their median score.  Prices for comprehensive LSAT classes are a barrier (ranging from $800 to $2200, with tutoring on top of that), but most importantly, time in which to study is essential.  Performance on timed tests, particularly of something as structured as the logic games section, improves dramatically with practice.  Squeezing hours out of a full workweek in order to practice logic games is a luxury.

%p
  Better ways to reform law school admissions include rethinking the diagnostic yardsticks and revising or perhaps moving away from the ubiquitous rankings systems entirely.  But until that systemic change happens, the LSAT experience can be made more fair for all test takers.  Motivated lawyers-to-be should not be held back for lack of money.  APT Scholars seeks to put young applicants on more equal footing.