%h2 LevelBar's Mission
%p 
  The mission of LevelBar is to increase opportunity in graduate-level education.  We seek to remove the barriers facing low-income degree seekers, from the financial barriers associated with graduate school admission exam preparation, to the lack of access to job creators, educational resources, and voices of influence.