.row
  .span12
    %h2
      LevelBar is a year-long commitment, and the foundation of a career.
    %p
      LevelBar provides a year-long program of admissions workshops, writing courses, professional development courses (close interaction with career professionals), and test preparation scholarships in the form of one-time grants to motivated, underfunded students in the San Francisco Bay Area.
  
  .span6
    %h2
      The Program
    %p
      LevelBar support students as fully as possible in their preparation for a jurisprudence degree. This support includes test-specific coaching, but also admissions and writing workshops, mentorship, and opportunities to interact with professionals in their chosen fields.  This intensive architecture is designed to prepare students not just for the LSAT, but also to guide and inculcate our scholars into the culture and nuance of the legal industry, an invaluable asset.  LevelBar scholars—having been accepted into the program—will work with our tutors and volunteers for a full year during the application process and leading up to their first days at school.

    %h3
      The First Few Months
    %p
      Workshops begin our program: face time with admissions officers, law professors, and career professionals demystify the application process, the experience of law school, and the practice of law.  Workshops are on diverse topics, from navigating and securing financial aid to networking in the field.

    %h3
      Digging In: Pre-Law Bootcamp
    %p
      The next few months bring more formal classwork: an introduction to legal writing is the core of this phase.  Classes are held in longer sessions on weekends to accommodate working students' schedules.

    %h3
      Scoring Well on the LSAT
    %p
      Upon completion of LevelBar's programming, students are awarded small grants, which cover the total cost of preparing rigorously for the very competitive LSAT, including preparation materials, application fees, coaching, and supplements to living expenses for six to eight weeks preceding the test date.

    %h3
      Apply
    %p
      After the LSAT has been administered, the work of actually applying to schools begins.  LevelBar mentors stay on hand with our scholars to provide resources, answer questions, and supply admissions feedback during this time.
    
  .span6
    %h2
      The Timeline
    %p
      %em
        You commit to LevelBar for one year.  We commit to you for the long haul.

    %dl.dl-horizontal
      %dt 
        May - July  2013
        %dd
          LevelBar applications are considered
      %dt 
        August
        %dd
          Accepted students notified
      %dt
        September - December
        %dd
          Workshops begin: demystifying law school
      %dt
        January - March  2014
        %dd
          Advanced classwork: pre-law boot camp
      %dt
        April - June
        %dd
          LSAT preparation
      %dt
        June 2014
        %dd
          Take the LSAT
      %dt
        July - September
        %dd
          Writing tutoring
      %dt
        September - December
        %dd
          Application support: get into school