%hr
#footer
  %ul.inline
    %li
      =mail_to "info@levelbar.org", "LevelBar"     
    %li
      (510) 214 2694       
    %li
      P.O. Box #23094 Oakland, CA 94623       
    %li
      info@levelbar.org