%hr
.container
  .row
    .span2
      =mail_to "info@levelbar.org", "LevelBar"     
    .span2
      (510) 214 2694       
    .span5
      P.O. Box #23094 Oakland, CA 94623       
    .span3
      info@levelbar.org